# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
db.sqlite3
media/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Django database dump
data.json